*{
    margin: 0;
    padding: 0
}
body {
    font-size:medium;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for opacity */
    z-index: -1;
}
/*We can also use this to add background-image and aopacity to it
body {
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(backgroundimage.jpg);
    background-size: cover;
    background-position: center;
}*/
.container1 {
    background-color: #ffffff;
    padding: 1.5rem;
    width:55vh;
    min-height:55vh;
}
form{
    margin: 0.5rem 0 0.5rem 0;
}
form input,button,select{
    width: 100%;
    border: none;
    outline: none;
}

form input{
    border: 2px solid lightgray;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
    font-weight: 500;
}

form button{
    height: 2rem;
    border-radius: 1.5rem;
    background-color: chocolate;
    color: white;
    font-weight: 700;
}
.dropdown {
    display: flex;
    justify-content: space-between;
}
form img{
    height: 45px;
    width: 45px;;
}

.select-container {
    /* background-color: rgb(153, 129, 176); */
    display: flex;
    padding: 0.2rem;
    margin: 0.5rem 0 0rem 0;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    border-radius: 1rem;
}
form select{
    border-radius: 1rem;
    margin: 0.5rem 0 0.3rem 0;
    padding: 0.3rem;
    border:none;

}
#icon{
    margin-top: 1rem;
}